<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootblank.log.mapper.OperationLogMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO operation_log (operator_type, operator_id, module, action, content, ip)
        VALUES (#{operatorType}, #{operatorId}, #{module}, #{action}, #{content}, #{ip})
    </insert>

</mapper>
